
html, body, canvas, p {
  padding: 0;
  margin: 0;
}

html, body, canvas {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#t {
  position:absolute;
  left:50%;
  top:50%;
  font:50vh serif;
  transform:translate(-50%,-50%);
  background: #111;
  padding: 100vh;
  color: #999;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  white-space: pre;
  user-select: none;
}

p {
  font-size:5vh;
}